<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rf17.nexpenses"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Nexpenses"
        android:name=".NexpensesApplication">

        <activity
            android:name="com.rf17.nexpenses.activities.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.rf17.nexpenses.activities.MainActivity" >
        </activity>

        <activity
            android:name=".activities.LancamentoActivity">
        </activity>

        <activity
            android:name="com.rf17.nexpenses.activities.SettingsActivity">
        </activity>

        <activity
            android:name="com.rf17.nexpenses.activities.AboutActivity">
        </activity>

    </application>

</manifest>
